<form id="lipapaysubmit" name="lipapaysubmit" action="{{ action }}" method="POST">
    <input name='version' id='version' type='hidden' value='1.3' >
    <input name='merchantId' id='merchantId'  type='hidden' value={{ merchantId }} >
    <input name='signType' id='signType' type='hidden' value='{{ signType }}' >
    <input name='sign' id='sign' type='hidden' value='{{ sign }}' >
    <input name='notifyUrl' id='notifyUrl' type='hidden' value='{{ notifyUrl }}' >
    <input name='returnUrl' id='returnUrl' type='hidden' value='{{ returnUrl }}' >
    <input name='merchantOrderNo' id='merchantOrderNo' type='hidden' value='{{ merchantOrderNo }}' >
    <input name='buyerId' id='buyerId' type='hidden' value='{{ buyerId }}' >
    <input name='amount' id='amount' type='hidden' value='{{ amount }}' >
    <input name='goodsName' id='goodsName' type='hidden' value='{{ goodsName }}' >
    <input name='goodsType' id='goodsType' type='hidden' value='{{ goodsType }}' >
    <input name='expirationTime' id='expirationTime' type='hidden' value='100000' >
    <input name='sourceType' id='sourceType' type='hidden' value='B' >
    <input name='currency' id='currency' type='hidden' value='{{ currency }}' >
</form>
<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
    </div>
</div>
<script type="text/javascript"><!--
    $('#button-confirm').bind('click', function() {
        $('#lipapaysubmit').submit();
    });
//--></script>
